## 2-3 データ値に基づかないサンプリング

In [1]:
import pandas as pd
import os


def load_hotel_reserve():
  customer_tb = pd.read_csv('../../../data/customer.csv')
  hotel_tb = pd.read_csv('../../../data/hotel.csv')
  reserve_tb = pd.read_csv('../../../data/reserve.csv')
  return customer_tb, hotel_tb, reserve_tb

customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

### pandas.DataFrame.sample

```DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None)```

    Returns a random sample of items from an axis of object.


- n : int, optional
Number of items from axis to return. Cannot be used with frac. Default = 1 if frac = None.

- frac : float, optional
Fraction of axis items to return. Cannot be used with n.

In [2]:
# 下の行から本書スタート
# reserve_tbから50%サンプリング
reserve_tb.sample(frac=0.5)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
2473,r2474,h_168,c_619,2017-05-02 04:56:05,2017-05-14,09:30:00,2017-05-16,3,79800
281,r282,h_295,c_67,2016-03-03 22:28:11,2016-03-30,10:30:00,2016-04-02,4,67200
2549,r2550,h_188,c_638,2016-12-12 04:38:04,2016-12-15,09:00:00,2016-12-17,3,355200
3550,r3551,h_131,c_882,2016-06-18 00:08:28,2016-07-17,11:00:00,2016-07-19,1,27800
1754,r1755,h_82,c_434,2016-05-22 15:29:36,2016-05-29,12:30:00,2016-06-01,1,38100
3840,r3841,h_14,c_956,2018-03-08 04:56:38,2018-03-10,12:30:00,2018-03-13,3,69300
2699,r2700,h_216,c_681,2016-10-10 08:10:50,2016-11-08,10:30:00,2016-11-10,4,154400
412,r413,h_248,c_96,2016-12-15 15:15:00,2017-01-12,11:30:00,2017-01-15,3,154800
1552,r1553,h_101,c_378,2017-05-22 16:27:52,2017-05-31,10:30:00,2017-06-02,4,112000
1728,r1729,h_81,c_426,2017-01-29 11:54:33,2017-02-02,10:30:00,2017-02-03,4,49600
1622,r1623,h_55,c_397,2016-07-03 17:27:07,2016-07-06,10:30:00,2016-07-09,1,42600
3758,r3759,h_115,c_936,2016-11-13 15:21:47,2016-12-09,12:00:00,2016-12-12,3,369000
2199,r2200,h_287,c_548,2017-09-14 17:19:39,2017-09-29,11:00:00,2017-10-01,4,116000
1358,r1359,h_247,c_333,2016-06-15 18:00:17,2016-06-15,10:30:00,2016-06-18,3,640800
2198,r2199,h_177,c_548,2017-08-04 19:04:23,2017-08-20,10:30:00,2017-08-23,1,210300
2423,r2424,h_120,c_607,2016-12-11 01:22:19,2016-12-28,12:30:00,2016-12-29,1,43400
1981,r1982,h_61,c_498,2017-03-13 00:49:53,2017-03-27,12:00:00,2017-03-28,2,149600
2905,r2906,h_172,c_732,2016-11-03 20:27:56,2016-11-17,09:00:00,2016-11-20,2,96000
127,r128,h_177,c_26,2016-11-20 21:48:48,2016-12-15,09:00:00,2016-12-18,3,630900
2872,r2873,h_285,c_724,2016-02-22 07:44:55,2016-03-19,09:00:00,2016-03-21,3,71400
139,r140,h_221,c_28,2016-03-13 23:16:53,2016-03-16,09:30:00,2016-03-18,4,44000
3100,r3101,h_205,c_783,2016-04-13 23:34:13,2016-05-02,12:00:00,2016-05-03,1,7100
3231,r3232,h_37,c_812,2017-01-06 07:59:56,2017-01-11,10:30:00,2017-01-12,4,100400
2658,r2659,h_95,c_670,2016-06-09 19:53:10,2016-07-02,10:30:00,2016-07-04,3,259200
2684,r2685,h_236,c_676,2016-02-08 15:34:09,2016-03-08,12:00:00,2016-03-11,2,93000
914,r915,h_38,c_224,2016-01-14 11:42:58,2016-02-01,09:30:00,2016-02-02,4,224000
3587,r3588,h_100,c_890,2016-01-08 00:46:55,2016-01-28,10:00:00,2016-01-29,2,9600
3938,r3939,h_239,c_980,2016-11-09 21:03:13,2016-11-30,09:30:00,2016-12-01,3,169500
2729,r2730,h_47,c_688,2018-01-17 01:20:41,2018-02-07,09:00:00,2018-02-09,4,92800
3662,r3663,h_138,c_911,2016-05-04 03:53:07,2016-05-21,12:30:00,2016-05-22,1,9600
...,...,...,...,...,...,...,...,...,...
2091,r2092,h_229,c_523,2016-11-03 20:12:19,2016-11-19,11:00:00,2016-11-20,3,22200
2369,r2370,h_234,c_597,2016-04-13 16:43:57,2016-04-17,10:00:00,2016-04-18,4,22400
2188,r2189,h_200,c_546,2016-01-28 09:06:31,2016-01-30,09:30:00,2016-02-02,1,25200
2240,r2241,h_256,c_560,2016-10-03 13:45:55,2016-10-05,09:30:00,2016-10-08,4,414000
3377,r3378,h_28,c_843,2017-03-18 23:16:06,2017-04-13,10:00:00,2017-04-16,4,68400
1171,r1172,h_50,c_285,2017-01-17 11:15:31,2017-02-04,09:30:00,2017-02-05,2,10200
1494,r1495,h_43,c_366,2018-01-17 22:28:29,2018-02-02,09:00:00,2018-02-03,2,36200
908,r909,h_242,c_222,2016-01-17 18:02:02,2016-02-02,11:30:00,2016-02-05,1,24900
1930,r1931,h_87,c_477,2016-04-17 20:00:14,2016-04-19,10:30:00,2016-04-20,2,12400
3399,r3400,h_20,c_848,2016-09-17 12:18:15,2016-10-14,11:00:00,2016-10-15,3,21300
3367,r3368,h_215,c_841,2017-01-21 02:28:31,2017-01-31,09:30:00,2017-02-01,1,15400
3387,r3388,h_67,c_845,2016-09-21 19:49:51,2016-10-03,09:30:00,2016-10-05,4,254400
2767,r2768,h_265,c_699,2016-01-14 09:46:00,2016-02-11,12:30:00,2016-02-12,4,74400
3970,r3971,h_253,c_986,2017-09-22 13:57:58,2017-10-02,11:30:00,2017-10-04,1,10400
2371,r2372,h_194,c_597,2016-09-21 08:18:10,2016-10-02,09:00:00,2016-10-04,4,79200
1188,r1189,h_272,c_289,2016-10-03 04:38:28,2016-10-05,12:30:00,2016-10-08,3,255600
1549,r1550,h_40,c_378,2016-06-18 00:37:35,2016-07-18,12:00:00,2016-07-19,3,26700
3898,r3899,h_204,c_970,2016-11-14 21:46:49,2016-11-22,12:30:00,2016-11-24,3,72600
831,r832,h_54,c_201,2017-08-18 08:39:41,2017-08-29,12:00:00,2017-08-30,4,51200
2611,r2612,h_287,c_652,2017-01-26 23:09:26,2017-02-24,10:00:00,2017-02-25,2,29000
2824,r2825,h_149,c_711,2016-04-05 13:27:03,2016-04-08,12:00:00,2016-04-11,4,307200
3844,r3845,h_300,c_957,2017-07-02 05:13:54,2017-07-23,10:30:00,2017-07-25,2,65200
2133,r2134,h_110,c_529,2017-08-26 06:15:40,2017-09-12,12:30:00,2017-09-14,3,158400
2888,r2889,h_10,c_726,2016-05-02 12:39:07,2016-05-26,10:00:00,2016-05-29,3,50400
3752,r3753,h_55,c_935,2016-02-19 08:54:15,2016-03-08,12:30:00,2016-03-10,1,28400
3835,r3836,h_243,c_956,2017-01-06 23:51:47,2017-01-10,10:30:00,2017-01-11,4,110800
2771,r2772,h_251,c_699,2017-05-23 01:13:16,2017-05-30,12:30:00,2017-06-02,2,34200
1121,r1122,h_202,c_273,2016-04-24 18:45:33,2016-05-11,10:30:00,2016-05-13,2,58000
3826,r3827,h_122,c_953,2018-04-07 21:38:36,2018-05-03,11:00:00,2018-05-04,3,20100
2002,r2003,h_212,c_504,2016-04-26 22:19:57,2016-05-01,12:30:00,2016-05-04,1,36900

In [4]:
reserve_tb.shape

(4030, 9)

In [6]:
reserve_tb.sample(2)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
3833,r3834,h_287,c_956,2016-05-31 17:58:27,2016-06-11,09:00:00,2016-06-14,3,130500
215,r216,h_249,c_50,2016-01-12 04:27:08,2016-02-05,10:00:00,2016-02-06,3,146100